<p>ProductName:<%=@product.name%></p>
<p>ProductDescription:<%=@product.desc%></p>
<td><%= link_to "edit", edit_product_path(@product) %> | <%= link_to "delete", product_path(@product),:method => 'DELETE' %> </td>